   {{#with data}}
        <div id="sidebar">
<div id="outline"></div>
</div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1">
<div class="pc pc1 w0 h0"><img class="bi x0 y0 w1 h1" src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img1696512013.png" alt="" />
<div class="c x0 y1 w2 h0">
<div class="t m0 x1 h2 y2 ff1 fs0 fc0 sc0 ls1 ws4">RIE ODONTOLOGIA FORMATO HISTORIA CLINICA</div>
</div>
<div class="c x2 y3 w3 h3">
<div class="t m0 x3 h4 y4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x3 h2 y5 ff1 fs0 fc0 sc0 ls1 ws0" style="word-spacing: 5px;">ODONTOLOGO<span class="ff4">: {{odontologo}} </span></div>
</div>
<div class="c x4 y6 w4 h5">
<div class="t m0 x3 h6 y7 ff4 fs0 fc0 sc0 ls1 ws4">N.&ordm; <span class="ls2 ws1">de</span> Matr&iacute;cula</div>
</div>
<div class="c x4 y3 w5 h7">
<div class="t m0 x3 h4 y8 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5 y3 w6 h7">
<div class="t m0 x3 h4 y8 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x6 y3 w7 h7">
<div class="t m0 x3 h4 y8 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x7 y3 w8 h7">
<div class="t m0 x3 h4 y8 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x8 y3 w9 h7">
<div class="t m0 x3 h4 y8 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 y9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 ya wa h8">
<div class="t m0 x3 h2 y7 ff1 fs0 fc0 sc0 ls1 ws0" style="word-spacing: 5px;">PACIENTE: {{ paciente }} </div>
</div>
<div class="c xa ya wb h8">
<div class="t m0 x3 h4 yb ff1 fs1 fc0 sc0 ls1 ws4">N.&ordm; AFIL</div>
</div>
<div class="c x4 ya wc h8">
<div class="t m0 x3 h4 yc ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 yd ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 ye wd h9">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws4">Fecha de inicio de 
tratamiento: </div>

</div>
<div class="c xb ye we h9">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{fechatratamiento}}</div>
</div>
<div class="c xc ye wf h9">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws0">Edad: </div>
</div>
<div class="c xd ye w10 h9">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{edad}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y11 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y12 w11 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Nucleo Familiar: </div>
</div>
<div class="c xe y12 w12 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{nucleofamiliar}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y13 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y14 w11 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">ESTADO GENERAL: </div>
</div>
<div class="c xe y14 w12 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4" style="word-spacing: 5px;">&nbsp;{{estadogeneral}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y15 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h2 y16 ff1 fs0 fc0 sc0 ls1 ws4">ANTECEDENTES INDIVIDUALES</div>
</div>
<div class="c x2 y17 w13 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Nacimiento: </div>
</div>
<div class="c xf y17 w14 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{nacimiento:}}</div>
</div>
<div class="c x10 y17 w15 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Parto: </div>
</div>
<div class="c x11 y17 w16 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{parto}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y18 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y19 w11 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Enfermedades cronicas: </div>
</div>
<div class="c xe y19 w12 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{enfermedadescronicas:}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y1a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y1b w11 ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Alteraciones congenitas: </div>
</div>
<div class="c xe y1b w12 ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{alteracionescongenitas}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y1c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y1d w17 h9">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Traumatismo:  </div>
</div>
<div class="c x12 y1d w18 h9">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{traumatismos}}</div>
</div>
<div class="c x13 y1d w19 h9">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws4">Intervenciones 
quirurgicas: </div>

</div>
<div class="c x14 y1d w1a h9">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{intervencionesquirurgicas}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y1e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y1f w1b ha">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Tuvo tratamiento de ortdodoncia previo: </div>
</div>
<div class="c x15 y1f w1c ha">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{tratamientoprevio}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y20 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y21 w1d hb">
<div class="t m0 x3 h2 y22 ff1 fs0 fc0 sc0 ls1 ws0">Uso: </div>
</div>
<div class="c x16 y21 w1e hb">
<div class="t m0 x3 h6 y22 ff4 fs0 fc0 sc0 ls1 ws0">{{#if (eq uso "chupete")}}chupete{{/if}} {{#if (eq uso "mamadera")}} mamadera {{/if}} {{#if (eq uso "lactancia")}} lactancia {{/if}} </div>
</div>
<div class="c x10 y21 w21 hb">
<div class="t m0 x3 h2 y22 ff1 fs0 fc0 sc0 ls1 ws4">Hasta que 
edad: </div>

</div>
<div class="c x18 y21 w22 hb">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;{{hastaqueedad}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y23 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h4 y24 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h4 y25 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h4 y26 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h4 y27 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
</div>
<div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}">&nbsp;</div>
</div>
<div id="pf2" class="pf w0 h0" data-page-no="2">
<div class="pc pc2 w0 h0"><img class="bi x0 y0 w1 h1" src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img169651201379.png" alt="" />
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 y2 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h2 y28 ff1 fs0 fc0 sc0 ls1 ws4">ANALISIS FACIAL</div>
</div>
<div class="c x2 y29 w23 hc">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Patron Facial</div>
</div>
{{#if (eq patronfacial "Mesofacial")}}
<div class="c x19 y29 w24 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Mesofacial</div>
</div>
{{/if}}
{{#if (eq patronfacial "Dólico facial")}}
<div class="c x1a y29 w25 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Dolico facial</div>
</div>
{{/if}}
{{#if (eq patronfacial "Braquifacial")}}
<div class="c x1b y29 w26 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Braquifacial</div>
</div>
{{/if}}
<div class="c x2 y2a w23 h9">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Perfil</div>
</div>
{{#if (eq perfil "Recto")}}
<div class="c x19 y2a w24 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Recto</div>
</div>
{{/if}}
{{#if (eq perfil "Cóncavo")}}
<div class="c x1a y2a w25 h9">
<div class="t m0 x3 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Cóncavo</div>
</div>
{{/if}}
<div class="c x1b y2a w26 h9">
<div class="t m0 x3 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y2b w23 hc">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Asimetria</div>
</div>
{{#if (eq asimetria "Mand. Derecha")}}
<div class="c x19 y2b w24 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Mand. Derecha</div>
</div>
{{/if}}
{{#if (eq asimetria "Mand. Izquierda")}}
<div class="c x1a y2b w25 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Mand. Izquierda</div>
</div>
{{/if}}
{{#if (eq asimetria "Otras")}}
<div class="c x1b y2b w27 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Otras</div>
</div>
{{/if}}
<div class="c x2 y2c w23 hc">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Altura facial:</div>
</div>
{{#if (eq alturafacial "Equilibradas")}}
<div class="c x19 y2c w24 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Equilibrada</div>
</div>
{{/if}}
{{#if (eq alturafacial "Larga")}}
<div class="c x1a y2c w25 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Larga</div>
</div>
{{/if}}
{{#if (eq alturafacial "Corta")}}
<div class="c x1b y2c w27 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Corta</div>
</div>
{{/if}}
<div class="c x2 y2d w23 hd">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Ancho facial</div>
</div>
{{#if (eq anchofacial "Equilibrada")}}
<div class="c x19 y2d w24 hd">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Equilibrada</div>
</div>
{{/if}}
{{#if (eq anchofacial "Estrecho")}}
<div class="c x1a y2d w25 hd">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Estrecho</div>
</div>
{{/if}}
{{#if (eq anchofacial "Amplio")}}
<div class="c x1b y2d w27 hd">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Amplio</div>
</div>
{{/if}}
<div class="c x2 y2e w23 hc">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Perfil Maxilar</div>
</div>
{{#if (eq perfilmaxilar "Ortognático")}}
<div class="c x19 y2e w24 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Ortogn&aacute;tico</div>
</div>
{{/if}}
{{#if (eq perfilmaxilar "Prognático")}}
<div class="c x1a y2e w25 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Progn&aacute;tico</div>
</div>
{{/if}}
{{#if (eq perfilmaxilar "Retrognático")}}
<div class="c x1b y2e w27 hc">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Retrogn&aacute;tico</div>
</div>
{{/if}}
<div class="c x2 y2f w23 he">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Perfil Madibular</div>
</div>
{{#if (eq perfilmandibular "Ortognático")}}
<div class="c x19 y2f w24 he">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Ortogn&aacute;tico</div>
</div>
{{/if}}
{{#if (eq perfilmandibular "Prognático")}}
<div class="c x1a y2f w25 he">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Progn&aacute;tico</div>
</div>
{{/if}}
{{#if (eq perfilmandibular "Retrognático")}}
<div class="c x1b y2f w27 he">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Retrogn&aacute;tico</div>
</div>
{{/if}}
<div class="c x2 y30 w23 h9">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws4">Surco Labio-</div>
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Ment&oacute;n</div>
</div>
{{#if (eq surcolabiomenton "Normal")}}
<div class="c x19 y30 w24 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Normal</div>
</div>
{{/if}}
{{#if (eq surcolabiomenton "Marcado")}}
<div class="c x1a y30 w25 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Marcado</div>
</div>
{{/if}}
{{#if (eq surcolabiomenton "Borrado")}}
<div class="c x1b y30 w27 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Borrado</div>
</div>
{{/if}}
<div class="c x2 y31 w23 h9">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws4">Labios en Reposo</div>
</div>
{{#if (eq labiosenreposo "Competentes")}}
<div class="c x19 y31 w24 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Competentes</div>
</div>
{{/if}}
{{#if (eq labiosenreposo "Incompetentes")}}
<div class="c x1a y31 w25 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Incompetentes</div>
</div>
{{/if}}
<div class="c x1b y31 w26 h9">
<div class="t m0 x3 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y32 w23 h9">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Perfil labial</div>
</div>
{{#if (eq perfillabial "Protrusivo Sup")}}
<div class="c x19 y32 w24 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Protrusivo Sup</div>
</div>
{{/if}}
{{#if (eq perfillabial "Protrusivo Inf")}}
<div class="c x1a y32 w25 h9">
<div class="t m0 x3 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Protrusivo Inf</div>
</div>
{{/if}}
{{#if (eq perfillabial "Retrusivos Sup")}}
<div class="c x1b y32 w28 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Retrusivos <span class="ls6 ws5">Su</span><span class="ws0">P</span></div>
</div>
{{/if}}
{{#if (eq perfillabial "Retrusivos Inf")}}
<div class="c x1c y32 w29 h9">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Retrusivos I<span class="ls7 ws6">nf</span></div>
</div>
{{/if}}
<div class="c x0 y1 w2 h0">
<div class="t m0 x2 h4 y33 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x2 h2 y1a ff1 fs0 fc0 sc0 ls1 ws4">ANALISIS FUNCIONAL</div>
</div>
<div class="c x2 y34 w2a hf">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Respiraci&oacute;n:</div>
</div>
{{#if (eq respiracion "Bucal")}}
<div class="c xf y34 w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls5 ws7">Bucal</div>
</div>
{{/if}}
{{#if (eq respiracion "Nasal")}}
<div class="c x1d y34 w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Nasal</div>
</div>
{{/if}}
{{#if (eq respiracion "Mixta")}}
<div class="c x10 y34 w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Mixta</div>
</div>
{{/if}}
<div class="c x2 y35 w2a h10">
<div class="t m0 x3 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x3 h2 yf ff4 fs0 fc0 sc0 ls0 ws4"><span class="ff1 ls1">Actividad </span></div>
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Comisural:</div>
</div>
{{#if (eq actividadcomisural "Normal")}}
<div class="c xf y35 w2b h10">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Normal</div>
</div>
{{/if}}
{{#if (eq actividadcomisural "Contracción")}}
<div class="c x1d y35 w2c h10">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Contracción</div>
</div>
{{/if}}
<div class="c x10 y35 w2d h10">
<div class="t m0 x3 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2 y37 w2a hf">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Actividad Lingual:</div>
</div>
{{#if (eq actividadlingual "Normal")}}
<div class="c xf y37 w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Normal</div>
</div>
{{/if}}
{{#if (eq actividadlingual "Interp. Anterior")}}
<div class="c x1d y37 w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Interp. Anterior</div>
</div>
{{/if}}
{{#if (eq actividadlingual "Interp. Lateral")}}
<div class="c x10 y37 w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws4">Interp. Lateral</div>
</div>
{{/if}}
<div class="c x2 y38 w2a hf">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Labio Superior:</div>
</div>
{{#if (eq labiosuperior "Normal")}}
<div class="c xf y38 w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Normal</div>
</div>
{{/if}}
{{#if (eq labiosuperior "Hipoactivo")}}
<div class="c x1d y38 w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hipoactivo</div>
</div>
{{/if}}
{{#if (eq labiosuperior "Hiperactivo")}}
<div class="c x10 y38 w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hiperactivo</div>
</div>
{{/if}}
<div class="c x2 y39 w2a h11">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws4">Labio Inferior:</div>
</div>
{{#if (eq labioinferior "Normal")}}
<div class="c xf y39 w2b h11">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Norm<span class="ls2 ws1">al</span></div>
</div>
{{/if}}
{{#if (eq labioinferior "Hipoactivo")}}
<div class="c x1d y39 w2c h11">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hipoactivo</div>
</div>
{{/if}}
{{#if (eq labioinferior "Hiperactivo")}}
<div class="c x10 y39 w2d h11">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hiperactivo</div>
</div>
{{/if}}
<div class="c x2 y3a w2a hf">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Masetero<span class="ff4">: </span></div>
</div>
{{#if (eq masetero "Normal")}}
<div class="c xf y3a w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Normal</div>
</div>
{{/if}}
{{#if (eq masetero "Hipoactivo")}}
<div class="c x1d y3a w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hipoactivo</div>
</div>
{{/if}}
{{#if (eq masetero "Hiperactivo")}}
<div class="c x10 y3a w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hiperactivo</div>
</div>
{{/if}}
<div class="c x2 y3b w2a hf">
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">Mentoniano:</div>
</div>
{{#if (eq mentoniano "Normal")}}
<div class="c xf y3b w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Norm<span class="ls2 ws1">al</span></div>
</div>
{{/if}}
{{#if (eq mentoniano "Hipoactivo")}}
<div class="c x1d y3b w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hipoactivo</div>
</div>
{{/if}}
{{#if (eq mentoniano "Hiperactivo")}}
<div class="c x10 y3b w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Hiperactivo</div>
</div>
{{/if}}
<div class="c x2 y3c w2a hf">
<div class="t m0 x3 h2 yf ff1 fs0 fc0 sc0 ls1 ws4">H&aacute;bitos de</div>
<div class="t m0 x3 h2 y10 ff1 fs0 fc0 sc0 ls1 ws0">succi&oacute;n:</div>
</div>
{{#if (eq habitosdesuccion "Dedos")}}
<div class="c xf y3c w2b hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">D<span class="ls2 ws1">edos</span></div>
</div>
{{/if}}
{{#if (eq habitosdesuccion "Lengua")}}
<div class="c x1d y3c w2c hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Leng<span class="ls2 ws1">ua</span></div>
</div>
{{/if}}
{{#if (eq habitosdesuccion "Labios")}}
<div class="c x10 y3c w2d hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Labios</div>
</div>
{{/if}}
{{#if (eq habitosdesuccion "Onicofagia")}}
<div class="c x1e y3c w2e hf">
<div class="t m0 x3 h6 y10 ff4 fs0 fc0 sc0 ls1 ws0">Onicofagia</div>
</div>
{{/if}}
</div>
<div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}">&nbsp;</div>
</div>
<div id="pf3" class="pf w0 h0" data-page-no="3">
<div class="pc pc3 w0 h0"><img class="bi x0 y0 w1 h1" src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img169651201385.png" alt="" />
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 y2 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y3d w2f h12">
<div class="t m1 x20 h4 y3e ff3 fs0 fc0 sc0 ls1 ws0">CEFALOGRAMA</div>
<div class="t m0 x16 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m1 x21 h4 y3e ff3 fs0 fc0 sc0 lsc">DE</div>
<div class="t m0 x22 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m1 x23 h4 y3e ff3 fs0 fc0 sc0 ls1">RICKETTS</div>
<div class="t m0 x24 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x25 y3f w30 h13">
<div class="t m0 x0 h4 y40 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y3d w31 h12">
<div class="t m2 x27 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">CEFALOGRAMA <span class="lsd ws8">MC</span> NAMARA</div>
<div class="t m0 x28 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y41 w32 h14">
<div class="t m2 x29 h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">MAX. INFERIOR</div>
<div class="t m0 x2a h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y41 w33 h14">
<div class="t m0 x2c h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">NORMA</div>
</div>
<div class="c x2d y41 w34 h14">
<div class="t m0 x2e h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">INICIAL</div>
</div>
<div class="c x26 y41 w35 h14">
<div class="t m0 x2f h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">MEDIDA</div>
</div>
<div class="c x30 y41 w36 h14">
<div class="t m0 x31 h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">NORMA</div>
</div>
<div class="c x32 y41 w37 h14">
<div class="t m3 x33 h4 y42 ff3 fs0 fc0 sc0 ls1 ws0">PACIENTE</div>
<div class="t m0 x34 h4 y42 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y43 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">1.<span class="ls1 ws4"> EJE FACIAL</span></div>
<div class="t m0 x36 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y43 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">90&ordm;<span class="ls1 ws4"> +- 3,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y43 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y43 w35 h15">
<div class="t m2 x35 h6 y44 ff3 fs0 fc0 sc0 ls1 ws4">Vert <span class="ff4 ls9">&ndash;</span> A</div>
<div class="t m0 x20 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y43 w36 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">0 <span class="lsd ws8">mm</span> +- 1 <span class="lsd">mm</span></div>
<div class="t m0 x38 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y43 w37 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y46 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">2.<span class="ls1 ws4"> PROF. FACIAL</span></div>
<div class="t m0 x9 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y46 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">87&ordm;<span class="ls1 ws4"> +- 3,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y46 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y46 w35 h15">
<div class="t m2 x35 h6 y44 ff3 fs0 fc0 sc0 ls1 ws4">Vert <span class="ff4 lsa">&ndash;</span><span class="lsb"> <span class="lse">PO</span></span></div>
<div class="t m0 x39 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y46 w36 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">-8 a -6 / -4 a 0</div>
<div class="t m0 x34 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y46 w37 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y47 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">3.<span class="ls1 ws4"> ANG. PL. MANDIB.</span></div>
<div class="t m0 x3a h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y47 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">26&ordm;<span class="ls1 ws4"> +- 4,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y47 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y47 w35 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">Normas Compuestas</div>
<div class="t m0 x3b h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y47 w36 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y47 w37 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y48 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">4.<span class="ls1 ws4"> ALTURA FAC. INF.</span></div>
<div class="t m0 x3a h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y48 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">47&ordm;<span class="ls1 ws4"> +- 4,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y48 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y48 w35 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">Long. Maxilar</div>
<div class="t m0 x3c h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y48 w36 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y48 w37 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y49 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">5.<span class="ls1 ws4"> ARCO MANDIB.</span></div>
<div class="t m0 x3d h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y49 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">26&ordm;<span class="ls1 ws4"> +- 4,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y49 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y49 w35 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">Long. Mandibular</div>
<div class="t m0 x3e h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y49 w36 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y49 w37 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y4a w32 h14">
<div class="t m2 x3f h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">MAX. SUPERIOR</div>
<div class="t m0 x3a h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y4a w33 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y4a w34 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y4a w35 h14">
<div class="t m0 x35 h4 y4d ff3 fs0 fc0 sc0 ls1 ws4">Altura</div>
</div>
<div class="c x30 y4a w36 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y4a w37 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y4e w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">6.<span class="ls1 ws4"> Convexidad Facial</span></div>
<div class="t m0 x3b h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y4e w33 h15">
<div class="t m0 x35 h4 y44 ff3 fs0 fc0 sc0 lsf wsa">+2</div>
</div>
<div class="c x2d y4e w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y4e w31 h15">
<div class="t m2 x40 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">ANALISIS ESQUELETAL</div>
<div class="t m0 x41 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y4f w32 h16">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">7.<span class="ls1 ws4"> Prof. maxilar</span></div>
<div class="t m0 x36 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y4f w33 h16">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">90&ordm;<span class="ls1 ws4"> +- 3,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y4f w34 h16">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x26 y3f w31 h17">
<div class="t m0 x0 h4 y50 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y51 w32 h15">
<div class="t m0 x2f h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">DIENTES</div>
</div>
<div class="c x2b y51 w33 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y51 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y53 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">8.<span class="ls1 ws4"> Incisivo inf. a A-<span class="lse">PO</span></span></div>
<div class="t m0 x42 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y53 w33 h15">
<div class="t m0 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">+1&ordm;</div>
</div>
<div class="c x2d y53 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y54 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">9.<span class="ls1 ws4"> Inclinaci&oacute;n incis. Inf.</span></div>
<div class="t m0 x43 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y54 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">22&ordm;<span class="ls1 ws4"> +- 4,0&ordm;</span></div>
<div class="t m0 x37 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y54 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y55 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">10.<span class="ls1 ws4"> 1er molar sup PTV</span></div>
<div class="t m0 x43 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y55 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">Edad + 3</div>
<div class="t m0 x27 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y55 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y56 w32 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls8 ws9">11.<span class="ls1 ws4"> Incis. Inf. A PL. <span class="ls10">O.</span></span></div>
<div class="t m0 x3a h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y56 w33 h15">
<div class="t m2 x35 h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">+ 1,25</div>
<div class="t m0 x1f h4 y44 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y56 w34 h15">
<div class="t m0 x0 h4 y45 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y57 w32 h18">
<div class="t m2 x35 h4 y58 ff3 fs0 fc0 sc0 ls8 ws9">12.<span class="ls1 ws4"> Angulo Interinc.</span></div>
<div class="t m0 x44 h4 y58 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y57 w33 h18">
<div class="t m2 x35 h4 y58 ff3 fs0 fc0 sc0 ls1 ws4">130&ordm; +- <span class="ls8">10&ordm;</span></div>
<div class="t m0 x45 h4 y58 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y57 w34 h18">
<div class="t m0 x0 h4 y59 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y5a w32 h14">
<div class="t m2 x46 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">PERF. BLANDO</div>
<div class="t m0 x3b h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y5a w33 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y5a w34 h14">
<div class="t m0 x0 h4 y4c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y3f w32 h19">
<div class="t m2 x35 h4 y5b ff3 fs0 fc0 sc0 ls8 ws9">13.<span class="ls1 ws4"> Prot. ***** Inf.</span></div>
<div class="t m0 x47 h4 y5b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2b y3f w33 h19">
<div class="t m2 x35 h4 y5b ff3 fs0 fc0 sc0 ls1 ws4">-2 +- <span class="ls8">2mm</span></div>
<div class="t m0 x48 h4 y5b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x2d y3f w34 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y5d w38 h1a">
<div class="t m2 x49 h4 y5e ff3 fs0 fc0 sc0 ls1 ws4">DETERMINACION DEL TIPO FACIAL</div>
<div class="t m0 x4a h4 y5e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y5f w39 h1b">
<div class="t m0 x35 h4 y60 ff3 fs0 fc0 sc0 ls1 ws4">VERT</div>
</div>
<div class="c x23 y5f w3a h1b">
<div class="t m2 x4b h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">MESOFACIAL 0</div>
<div class="t m0 x36 h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m2 x3e h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">BRAQUI + 0,5 BRAQUI SEVERO <span class="ls11">+ </span></div>
<div class="t m2 x3 h6 y62 ff3 fs0 fc0 sc0 ls1 ws4">1 DOLICO SUAVE <span class="ff4 ls9">&ndash;</span> 0,5 DOLICO <span class="ff4 ls9">&ndash;</span> 1</div>
<div class="t m2 x3 h4 y59 ff3 fs0 fc0 sc0 ls1 ws4">DOLICO SEVERO - 2</div>
<div class="t m0 x3b h4 y59 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x30 y5f w3b h1b">
<div class="t m0 x0 h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y5f w3c h1b">
<div class="t m0 x0 h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x32 y5f w3d h1b">
<div class="t m0 x0 h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y5f w3e h1b">
<div class="t m0 x0 h4 y61 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y63 w2f h1c">
<div class="t m2 x35 h4 y64 ff3 fs0 fc0 sc0 ls1 ws4">ANALISIS <span class="ls12 wsb">DE</span> ARCOS DENTARIOS</div>
<div class="t m0 x4e h4 y64 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x25 y63 w3f h1c">
<div class="t m2 x35 h4 y64 ff3 fs0 fc0 sc0 ls1 ws4">DESCRIPCION <span class="ls12 wsb">DE</span> MALOCLUSION</div>
<div class="t m0 x4e h4 y64 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y65 w39 h1d">
<div class="t m2 x35 h4 y66 ff3 fs0 fc0 sc0 ls1 ws0">Discrepancia</div>
<div class="t m0 x4f h4 y66 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m2 x35 h4 y67 ff3 fs0 fc0 sc0 ls1 ws0">dentaria</div>
<div class="t m0 x50 h4 y67 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x23 y65 w40 h1d">
<div class="t m0 x36 h4 y66 ff3 fs0 fc0 sc0 ls1 ws4">mm.</div>
</div>
<div class="c x25 y65 w3f h1d">
<div class="t m0 x0 h4 y68 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y69 w39 h1e">
<div class="t m2 x35 h4 yb ff3 fs0 fc0 sc0 ls1 ws4">Espacio Libre</div>
<div class="t m2 x35 h4 y67 ff3 fs0 fc0 sc0 ls1 ws0">(Nance)</div>
<div class="t m0 x20 h4 y67 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x23 y69 w40 h1e">
<div class="t m0 x38 h4 yb ff3 fs0 fc0 sc0 ls1 ws4">mm.</div>
</div>
<div class="c x25 y69 w3f h1e">
<div class="t m0 x0 h4 y6a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y6b w39 h1f">
<div class="t m2 x35 h4 y6c ff3 fs0 fc0 sc0 ls1 ws4">Discrepancia</div>
<div class="t m2 x35 h4 y6d ff3 fs0 fc0 sc0 ls1 ws0">Cefalom.</div>
<div class="t m0 x51 h4 y6d ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x23 y6b w40 h1f">
<div class="t m0 x38 h4 y6c ff3 fs0 fc0 sc0 ls1 ws4">mm.</div>
</div>
<div class="c x25 y6b w3f h1f">
<div class="t m0 x0 h4 y6e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y6f w39 h20">
<div class="t m0 x35 h4 y70 ff3 fs0 fc0 sc0 ls1 ws4">Total</div>
</div>
<div class="c x23 y6f w40 h20">
<div class="t m0 x38 h4 y70 ff3 fs0 fc0 sc0 ls1 ws4">mm.</div>
</div>
<div class="c x25 y6f w3f h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y72 w38 h19">
<div class="t m1 x52 h4 y73 ff3 fs0 fc0 sc0 ls1 ws4">PLANIFICACION DEL V.T.O.</div>
<div class="t m0 x53 h4 y73 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y74 w41 h21">
<div class="t m0 x35 h4 y75 ff3 fs0 fc0 sc0 ls1 ws4">V.T.O.</div>
</div>
<div class="c x54 y74 w42 h21">
<div class="t m2 x35 h4 y76 ff3 fs0 fc0 sc0 ls1 ws4">1 - <span class="lse">APO</span></div>
<div class="t m0 x20 h4 y76 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y74 w43 h21">
<div class="t m0 x0 h4 y77 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y39 w41 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y39 w42 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y39 w44 h19">
<div class="t m4 x46 h4 y52 ff3 fs0 fc0 sc0 ls1">+</div>
<div class="t m0 x55 h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y39 w45 h19">
<div class="t m4 x46 h4 y52 ff3 fs0 fc0 sc0 ls1">-</div>
<div class="t m0 x56 h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y78 w41 h19">
<div class="t m2 x35 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">1 - *** facial</div>
<div class="t m0 x57 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y78 w42 h19">
<div class="t m2 x35 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">Discrepancia dentaria</div>
<div class="t m0 x42 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y78 w44 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y78 w45 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y79 w41 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y79 w42 h22">
<div class="t m2 x35 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">Espacio Libre (Nance)</div>
<div class="t m0 x43 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y79 w44 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y79 w45 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y7b w41 h19">
<div class="t m1 x35 h6 y52 ff3 fs0 fc0 sc0 ls1 ws4">2 <span class="ff4 ls2">&ndash;</span> Convexidad</div>
<div class="t m0 x36 h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y7b w42 h19">
<div class="t m0 x35 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">D.C.R.C.</div>
</div>
<div class="c x4c y7b w44 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y7b w45 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y7d w41 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y7d w42 h20">
<div class="t m2 x35 h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">Verticalizaci&oacute;n moral</div>
<div class="t m0 x3b h4 y52 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y7d w44 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y7d w45 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y7e w41 h22">
<div class="t m2 x35 h6 y7f ff3 fs0 fc0 sc0 ls1 ws4">3 <span class="ff4 ls9">&ndash;</span> 1 a A <span class="ff4 ls9">&ndash;</span><span class="lsb"> <span class="lse">PO</span></span></div>
<div class="t m0 x38 h4 y7f ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y7e w42 h22">
<div class="t m2 x35 h4 y80 ff3 fs0 fc0 sc0 ls1 ws4">Curva <span class="ls8 ws9">de</span> Spee</div>
<div class="t m0 x36 h4 y80 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y7e w44 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y7e w45 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y81 w41 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y81 w42 h22">
<div class="t m0 x35 h4 y82 ff3 fs0 fc0 sc0 ls1 ws4">Expanci&oacute;n</div>
</div>
<div class="c x4c y81 w44 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y81 w45 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
</div>
<div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}">&nbsp;</div>
</div>
<div id="pf4" class="pf w0 h0" data-page-no="4">
<div class="pc pc4 w0 h0"><img class="bi x0 y0 w1 h1" src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img169651201354.png" alt="" />
<div class="c x1f y83 w41 h21">
<div class="t m1 x35 h6 y4b ff3 fs0 fc0 sc0 ls1 ws4">4 <span class="ff4 ls2">&ndash;</span> ****** Interincisivo</div>
<div class="t m0 x43 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y83 w42 h21">
<div class="t m2 x35 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">El&aacute;sticos intermaxilares</div>
<div class="t m0 x58 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y83 w44 h21">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y83 w45 h21">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y84 w41 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y84 w42 h19">
<div class="t m1 x35 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">Desgaste interproximal</div>
<div class="t m0 x42 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y84 w44 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y84 w45 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y85 w41 h22">
<div class="t m2 x35 h6 y4b ff3 fs0 fc0 sc0 ls1 ws4">5 <span class="ff4 ls9">&ndash;</span> Labio Inferior <span class="ff4 ls9">&ndash;</span> Plano E</div>
<div class="t m0 x59 h4 y4b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y85 w42 h22">
<div class="t m0 x35 h4 y82 ff3 fs0 fc0 sc0 ls1 ws4">Extracci&oacute;n</div>
</div>
<div class="c x4c y85 w44 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y85 w45 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y86 w41 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y86 w42 h20">
<div class="t m1 x35 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">Recolocaci&oacute;n del 1</div>
<div class="t m0 x9 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y86 w44 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y86 w45 h20">
<div class="t m0 x0 h4 y71 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y87 w41 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y87 w42 h19">
<div class="t m0 x35 h4 y88 ff3 fs0 fc0 sc0 ls1 ws4">Total</div>
</div>
<div class="c x4c y87 w44 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y87 w45 h19">
<div class="t m0 x0 h4 y5c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y89 w41 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y89 w42 h22">
<div class="t m0 x35 h4 y88 ff3 fs0 fc0 sc0 ls1 ws4">Neto</div>
</div>
<div class="c x4c y89 w44 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y89 w45 h22">
<div class="t m0 x0 h4 y7a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x1f y8a w41 h23">
<div class="t m0 x0 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x54 y8a w42 h23">
<div class="t m2 x35 h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">Por hemiarcada</div>
<div class="t m0 x5a h4 y7c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4c y8a w44 h23">
<div class="t m0 x0 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x4d y8a w45 h23">
<div class="t m0 x0 h4 y3e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x39 h4 y8b ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y4a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y8c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y8d ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y8e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y8f ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y90 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x5b h4 y91 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x39 h4 y92 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x39 y93 w46 h24">
<div class="t m0 x0 h4 y94 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m5 x35 h4 y95 ff2 fs0 fc0 sc0 ls1 ws4">PLAN <span class="ls13 wsc">DE</span> TRATAMIENTO Y OBJETIVOS:</div>
<div class="t m0 x41 h4 y95 ff2 fs0 fc0 sc0 ls1 ws4" style="word-spacing: 5px;">&nbsp; <div style="display: flex;">{{plantratamiento}}</div></div>

</div>
<div class="c x39 y96 w46 h25">
<div class="t m0 x0 h4 y97 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m6 x35 h4 y98 ff2 fs0 fc0 sc0 ls1 ws4">TECNICA Y APARATOLOGIA A EMPLEAR:</div>
<div class="t m0 xb h4 y98 ff3 fs0 fc0 sc0 ls1 ws4" style="word-spacing: 5px;">&nbsp; {{tecnicaaparato}}</div>

</div>
<div class="c x39 y99 w46 h26">
<div class="t m0 x0 h4 y9a ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m6 x35 h4 y9b ff2 fs0 fc0 sc0 ls1 ws4">TIEMPO ESTIMADO <span class="ls14 wsd">DE</span> TRATAMIENTO:</div>
<div class="t m0 x5c h4 y9b ff2 fs0 fc0 sc0 ls1 ws4" style="word-spacing: 5px;">&nbsp;{{tiempoestimadotratamiento}}</div>
</div>
<div class="c x39 y7d w46 h27">
<div class="t m0 x0 h4 y9c ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
<div class="t m7 x35 h4 y9d ff2 fs0 fc0 sc0 ls1 ws0">PRONOSTICO:</div>
<div class="t m0 x5d h4 y9d ff2 fs0 fc0 sc0 ls1 ws4" style="word-spacing: 5px;">&nbsp;{{pronostico}}</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 y9e ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
</div>
<div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}">&nbsp;</div>
</div>
<div id="pf5" class="pf w0 h0" data-page-no="5">
<div class="pc pc5 w0 h0"><img class="bi x0 y0 w1 h1" src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img1696512013100.png" alt="" />
<div class="c x27 y9f w47 h28">
<div class="t m0 x5e h4 yf ff3 fs0 fc0 sc0 ls1 ws4">Registros <span class="ls2 ws1">de </span></div>
<div class="t m0 x5e h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">prestaciones</div>
</div>
<div class="c x27 ya0 w48 h29">
<div class="t m0 x29 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">Fecha y</div>
<div class="t m0 x29 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">hora</div>
</div>
<div class="c x5f ya0 w49 h29">
<div class="t m0 x56 h4 ya1 ff3 fs0 fc0 sc0 ls1 ws4">Tratamiento realizado e</div>
<div class="t m0 x57 h4 ya2 ff3 fs0 fc0 sc0 ls1 ws4">indicaciones</div>
</div>
<div class="c x15 ya0 w4a h29">
<div class="t m0 x60 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">Abono</div>
</div>
<div class="c x10 ya0 w4b h29">
<div class="t m0 x60 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">saldo</div>
</div>
<div class="c x61 ya0 w4c h29">
<div class="t m0 x46 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">Total</div>
<div class="t m0 x60 h4 yf ff3 fs0 fc0 sc0 ls1 ws0">tratamient</div>
<div class="t m0 x62 h4 y10 ff3 fs0 fc0 sc0 ls1 ws4">o</div>
</div>
<div class="c x63 ya0 w4d h29">
<div class="t m0 x64 h4 y36 ff3 fs0 fc0 sc0 ls1 ws4">Pr&oacute;ximo</div>
<div class="t m0 x64 h4 yf ff3 fs0 fc0 sc0 ls1 ws4">turno</div>
</div>
<div class="c x27 ya3 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ya3 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ya3 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ya3 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ya3 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ya3 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ya5 w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ya5 w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ya5 w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ya5 w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ya5 w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ya5 w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ya7 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ya7 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ya7 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ya7 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ya7 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ya7 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ya8 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ya8 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ya8 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ya8 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ya8 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ya8 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ya9 w48 h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ya9 w49 h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ya9 w4a h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ya9 w4b h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ya9 w4c h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ya9 w4d h2c">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yaa w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yaa w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yaa w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yaa w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yaa w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yaa w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yab w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yab w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yab w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yab w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yab w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yab w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yac w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yac w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yac w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yac w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yac w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yac w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 y57 w48 h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f y57 w49 h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 y57 w4a h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 y57 w4b h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 y57 w4c h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 y57 w4d h2d">
<div class="t m0 x0 h4 yad ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yae w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yae w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yae w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yae w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yae w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yae w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yaf w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yaf w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yaf w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yaf w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yaf w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yaf w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb0 w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb0 w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb0 w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb0 w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb0 w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb0 w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb1 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb1 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb1 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb1 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb1 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb1 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb2 w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb2 w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb2 w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb2 w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb2 w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb2 w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb3 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb3 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb3 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb3 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb3 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb3 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb4 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb4 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb4 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb4 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb4 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb4 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb5 w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb5 w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb5 w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb5 w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb5 w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb5 w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb6 w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb6 w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb6 w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb6 w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb6 w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb6 w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb7 w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb7 w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb7 w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb7 w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb7 w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb7 w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yb8 w48 h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yb8 w49 h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yb8 w4a h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yb8 w4b h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yb8 w4c h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yb8 w4d h2c">
<div class="t m0 x0 h4 yb9 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 yba w48 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f yba w49 h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 yba w4a h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 yba w4b h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 yba w4c h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 yba w4d h2a">
<div class="t m0 x0 h4 ya4 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ybb w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ybb w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ybb w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ybb w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ybb w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ybb w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x27 ybc w48 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x5f ybc w49 h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x15 ybc w4a h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x10 ybc w4b h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x61 ybc w4c h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x63 ybc w4d h2b">
<div class="t m0 x0 h4 ya6 ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
<div class="c x0 y1 w2 h0">
<div class="t m0 x9 h4 ybd ff3 fs0 fc0 sc0 ls1 ws4">&nbsp;</div>
</div>
</div>
<div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}">&nbsp;</div>
</div>
</div>
<div class="loading-indicator"><img src="https://myfiles.space/user_files/177372_da7805aa6b034b76/177372_custom_files/img169651201387.png" alt="" /></div>

<div style="color: red;">Prueba Word to HTML - <a href="https://wordtohtml.net/site/payment">P&aacute;sate a PRO</a>.</div>
    {{/with}}